table {
    border-spacing: 0;;
}

td {
    border: 2px solid gray;
    width: 100px;
    text-align: center;
}

.table_button {
    border: none;
    width: auto;
}

.delete {
    color: red;
    font-weight: bolder;
}